<link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
<title>{{ subPageTitleAbout }}</title>
<h1>O mnie</h1>
<hr>
<div class="columns"></div>
<div class="columnsContainer">

    <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, consequatur facere ut, tenetur cumque itaque
        minima
        quibusdam unde quo beatae ipsum laudantium totam saepe officia! Nihil, vitae. Ipsum, dolorum eius.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum vel? Quas vero praesentium tenetur
        dolore voluptates quia aliquam ipsa cumque soluta suscipit placeat culpa accusantium, odit adipisci obcaecati
        maxime.</p>
    <p>
        Ut tempora, vero voluptatem similique fugiat atque quos aperiam, quis itaque id ipsum eligendi commodi neque
        iusto
        quae voluptatum. Autem quisquam quidem rerum ab nobis fuga voluptatibus porro quia aliquam.
        Quia possimus ex aperiam optio expedita dolorem magnam libero assumenda doloremque exercitationem modi minus
        consectetur, corrupti officiis deserunt, similique maxime soluta sunt rem consequuntur! Beatae voluptatum
        praesentium aspernatur! Odio, nihil.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui ab temporibus earum quidem alias ea vel
        soluta, quo tempore eligendi nemo architecto ipsam sed itaque culpa illo quam quibusdam.
    </p>
    <hr>
    <hr>
    <h4>Nagłówek</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, odit magnam, saepe nam suscipit at doloribus
        hic
        esse ipsa laboriosam asperiores! Vel ut quo necessitatibus hic amet pariatur vitae nemo.
        Eum fugiat atque voluptates tempora possimus. Fuga corporis repudiandae voluptatibus sit? Praesentium
        accusantium,
        voluptatem voluptate inventore hic eveniet. Modi delectus, perferendis repellendus asperiores atque culpa et
        suscipit aliquid ipsam ab?
        Laborum molestiae similique est nostrum earum, quidem maxime debitis voluptate dolore nisi asperiores accusamus
        quisquam enim. Voluptate ducimus doloribus, quisquam nemo tenetur adipisci nesciunt dolores, hic, earum
        temporibus
        natus quidem.
        Libero veritatis quaerat porro a nemo. Harum consectetur voluptatum aliquam maxime laudantium. Omnis, sed ipsa.
        Dignissimos vitae optio earum vero? Facere vero deserunt qui dolores, harum illum enim beatae doloribus.</p>
</main>
<aside>
    <h2>Sekcja boczna</h2>
    <img src="assets\images\puffin.jpg" alt="image of puffin" title="image of puffin" width="50%">
<ul>Spodobała Ci się ta strona? Sprawdź inne moje prace!
    <li><a href="https://github.com/BeataBarbara" target="_blank" rel="noopener noreferrer">Mój GitHub</a></li>
    <li><a href="https://beatabarbara.github.io/goGym/" target="_blank" rel="noopener noreferrer">Ćwicząca aplikacja</a></li>
    <li><a href="https://beatabarbara.github.io/Cytaty_AR/" target="_blank" rel="noopener noreferrer">Cytaty Ayn Rand</a></li>
    <li><a href="https://github.com/BeataBarbara/ngblog" target="_blank" rel="noopener noreferrer">Repozytorium bloga w Angularze</a></li>
    <li><a href="https://codepen.io/beatabarbara" target="_blank" rel="noopener noreferrer">Mój code pen</a></li>
    <li><a href="https://www.linkedin.com/in/beata-skoru%C5%9B-a2906970/" target="_blank" rel="noopener noreferrer">Mój profil na LinkedIn</a></li>
</ul>
</aside>    
</div>
</div>
<hr>