<link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
<title>{{subPageTitle1}}</title>
<a href="/">Powrót na stronę główną</a>
<h1>Lista ogródków działkowych, którymi jestem zainteresowana</h1>
<hr>
<h3>Bytom</h3>
<ol>
    <li>R.O.D. „Przyjaźń”, Siemianowicka 107 </li>
    <li>R.O.D. Pstrowskiego, ul Brzezińska 56</li>
    <li>ROD Ziemia Ojczysta, ul. Sienna</li>
</ol>
<hr>
<h3>Chorzów</h3>
<ol>
    <li>Ogrody Działkowe ROD „KONWALIA”, Michałkowicka</li>
    <li>Ogródki działkowe ROD "Powstaniec", 17 Sierpnia 19 </li>
    <li>Ogródki działkowe ROD "Ślązel", Maciejkowicka 5 </li>
    <li>Rodzinny Ogród Działkowy "ROZWÓJ", Maciejkowicka 6 </li>
    <li>Rodzinne Ogrody Działkowe "Stokrotka", ul. Kluczborska (?)</li>
</ol>
<hr>
<h3>Katowice</h3>
<ol>
    <li>Rodzinne Ogródki Działkowe "Telewizja" </li>
    <li>Telewizyjna 1 ROD Dębianka,ul. Bożogrobców(?) </li>
    <li>Rodzinne Ogrody Działkowe ZACISZE, ul. Norwida(?)</li>
    <li>Ogródki Działkowe "Bratek", ul. Strzelców Bytomskich 47</li>
    <li>Rodzinne Ogrody Działkowe Radość, ul. Leopolda</li>
</ol>
<hr>
<h3>Siemianowice Śląskie</h3>
<ol>
    <li> Barbórka - Rodzinne Ogrody Działkowe, Wojciecha Korfantego 10C </li>
    <li> ROD "Laura", Katowicka</li>
    <li> R O D Nadzieja – Jaśmin, ul. Stara Katowicka(?)</li>
    <li> Szarotka - Rodzinne Ogródki Działkowe, Bohaterów Westerplatte</li>
    <li> R O D Jedność, ul. Bohaterów Westerplatte (?)</li>
    <li> R O D Nowy Świat, ul. Spokojna (?)</li>
    <li> PRZYSZŁOŚĆ - Rodzinne Ogródki Działkowe, ul. Bytomska(?)</li>
    <li> Malwa - Rodzinne Ogródki Działkowe, alejka, Emilii Plater 21B</li>
    <li> Podgórze - Rodzinne Ogródki Działkowe, Marcina Watoły</li>
    <li> Szczęść Boże - Rodzinne Ogródki Działkowe, aleja Sportowców 11</li>
    <li> Rodzinne Ogródki Działkowe ZORZA, Szyb Pszczelnik 142</li>
    <li> R O D Pokój, ul. Obwodowa(?)</li>
    <li> R O D Pszczelnik, aleja Sportowców</li>
    <li> R O D Słowik, ul. Brzozowa</li>
    <li> ROD Bażant, aleja Spacerowa</li>
    <li> ROD Kukułka, ul. Cmentarna</li>
    <li> ROD Kwiat Jabłoni, Brzozowa 13</li>
</ol>

<script src="./../js/functions.js"></script>