    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    <title>{{ pageTitle }}</title>
    
<h1>Hallo Welt</h1>
<hr>
<a href="/rod">ROD</a>
<a href="/number">Zagrajmy w grę</a>
<a href="/about">O mnie</a>
<hr>
<div class="powitanie">
<button id="Wilkommen"> Przywitajmy się</button>
</div>

<h2>Oto moja strona.</h2>
<p>Postanowiłam w końcu opanować node'a. Myślicie, że coś z tego będzie.</p>
<p> No i standardowe lorem ipsum... </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga tempore illum reiciendis ipsum repellendus dicta aut iure alias suscipit deserunt expedita doloribus quam dolorem animi, minima consectetur! Non, accusantium? Sed laboriosam consequuntur
    excepturi nisi maxime suscipit dolorum officiis beatae facilis esse ab molestias quas nobis corrupti veritatis dolores fugit, accusantium provident harum reiciendis aliquid. Dolores voluptatem quae enim reprehenderit. Pariatur ipsum autem ea, voluptatem
    et dignissimos sapiente! Error cumque quod laudantium labore autem, repellat nam? Molestiae, totam repellat reprehenderit odio dolor magni. Aliquid voluptatem totam dolor sed magnam recusandae. Neque, rem eligendi? Dolorum voluptate adipisci error
    ex tempore sunt! Eveniet saepe ab animi accusantium veritatis modi, architecto quo nesciunt laboriosam, ipsa, necessitatibus est? Nam asperiores sequi non laboriosam consequatur. Molestiae ad consequatur quibusdam minima. Cumque in reiciendis voluptas
    laboriosam? Rerum iusto, quae labore quisquam inventore consectetur ex, fuga repellat eos deserunt itaque velit sequi autem asperiores eligendi magnam sed? Natus aspernatur aut nisi adipisci eaque distinctio a unde culpa. Illo omnis totam, quaerat
    voluptatem mollitia iste placeat impedit amet accusamus vel enim numquam praesentium autem magnam ipsam quidem laborum. Beatae odio eum totam reiciendis ad at est, consequatur sit illum voluptates quasi quas tenetur. Quam ullam ea doloribus sit deserunt
    recusandae, quisquam omnis provident. Numquam obcaecati voluptatum harum sapiente! Blanditiis eaque quam sint est numquam odit nobis quidem iste vitae non quaerat cupiditate tempore nisi commodi adipisci nostrum, laboriosam quas. Corrupti ratione
    nulla corporis nemo, praesentium saepe animi recusandae! Inventore nisi, natus consectetur repudiandae dolor deleniti eius amet nobis, cum aspernatur voluptatem. Impedit ex amet voluptatem esse. Asperiores, rem. Natus aperiam repudiandae accusantium
    suscipit eum. Dicta, illum. Aperiam, itaque? Quo ratione reiciendis quis tempora, porro ab recusandae molestias culpa sed provident corrupti aut magni incidunt. Iure recusandae earum quo, est illo unde, deleniti temporibus praesentium voluptatem fugit
    ipsum explicabo!</p>
<hr>
<hr>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus voluptatum qui ratione inventore enim reiciendis ut! Aperiam aspernatur neque ad alias pariatur veniam vitae consequatur odio, at voluptatem fugiat. Nisi autem impedit possimus nesciunt
    corrupti? Aliquid ducimus perferendis, quas quibusdam minima sed tempore aut doloribus itaque placeat eaque quam doloremque! Harum labore pariatur saepe dolores ipsum expedita, ab rerum! Dolorem ea nisi iure numquam, a, consectetur aliquid qui animi
    quod omnis dolore minima tempora aliquam. Doloremque mollitia commodi rem animi voluptatum amet, minima repudiandae incidunt error quisquam fugit provident? Facere, provident. Suscipit officiis id aperiam quisquam veritatis autem voluptatibus quod
    quidem alias in accusamus dignissimos nisi rem, voluptas corrupti minus. Modi rem fugiat eum, dolorum exercitationem possimus commodi atque? Non quis dolorem ullam mollitia nisi quia facilis aspernatur et impedit harum commodi, deserunt beatae cum
    facere molestiae neque iste eligendi. Sequi, quod! Minima eum sunt reiciendis officiis deleniti aut.</P>
<hr>
<script src="./../js/functions.js"></script>


