    <title>{{subPageTitle2}}</title>   
    <h1>{{subPageTitle2}}</h1>
<h3>Zasady gry</h3>
<p>Wpisz dwie liczby, będące dolnym i górnym zakresem, z którego będzie losowana liczba. Twoim zadaniem będzie ją zgadnąć. <br> Jeśli będziesz chciał się poddać, kliknij "Anuluj"/"Cancel", gra się zakończy i dowiesz się, o jaką liczbę chodziło.</p>
<label >podaj dolny zakres:<input type="number" id="kleiner"></label>
<label >podaj górny zakres:<input type="number" id="grosser"></label>


<button id="startGame">Zacznihj grę!</button>

<script src="./../js/numbers.js"></script>